<hr style="border-width: 10px; color: gray;">
<table>
    <tr>
        <th><h1><b>About Me</b></h1></th>
        <th rowspan="3"><img src="../../assets/images.jpg" style="height: 420px; width: 300px;"></th>
    </tr>
    <tr>
        <th><h3>Bharathy is a freelance copywriter and web consultant. 
            On her about page, she includes an eye-catching photo of herself and breaks 
            down how she can help small businesses generate more leads with her services. </h3></th>
    </tr>
    <tr>
       <h4> Testimonials are featured prominently on the page to build social proof and 
        convince potential clients that they should choose her business. </h4>
        <h4>He even embeds a YouTube video on him about page to show off her copywriting</h4>
    </tr>
</table>