<br><h2>&nbsp;&nbsp;&nbsp;{{date | date :'shortDate'}}</h2><br>

<!-- <div ngSwitch="day">
    <div ngSwitchCase='1'>
        {{moncl()}}
    </div> -->



<div>
    <button class="{{monday}} btn btn-outline-info test" (click)="moncl()"><i>Monday</i></button><br><br>
    <button class="{{tuesday}} btn btn-outline-info test" (click)="tuecl()"><i>Tuesday</i></button><br><br>
    <button class="{{wednesday}} btn btn-outline-info test" (click)="wedcl()"><i>Wednesday</i></button><br><br>
    <button class="{{thrusday}} btn btn-outline-info test" (click)="thrcl()"><i>Thrusday</i></button><br><br>
    <button class="{{friday}} btn btn-outline-info test" (click)="fricl()"><i>Friday</i></button><br><br>
    <!-- <button class="{{saturday}} btn btn-outline-info test" (click)="satcl()"><i>Saturday</i></button><br><br> -->
</div>
